train/
valid/
test/
tfenv/
.ipynb_checkpoints/
/Seminar Report (1).pdf
/Seminar Report.docx
/Seminar Report.pdf
/Project Report.docx
/Project Report.pdf
/Front page.docx
/Front page.pdf
/Train_plant_disease.py
/Train_plant_disease.zip